@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List";
    string print = "";
    bool tooLong = false;
}

<div class="container" style="background-color: white">
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            foreach (var article in Model)
            {
                if (article.Content.Length > 1000)
                {
                    print = article.Content.Substring(0, 1000);
                    tooLong = true;
                }
                <div class="col-sm-6">
                    <article>
                        <header>
                            <h2>
                                @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.ArticleId }, null)
                            </h2>
                        </header>
                        <p style="text-align: justify">
                            @if (tooLong)
                            {
                                @print <strong>...</strong>
                                @Html.ActionLink("Read more", "Details", "Article", new { @id = article.ArticleId }, null)
                            }
                            else
                            {
                                @article.Content
                            }
                        </p>
                        <footer>
                            <div class="pull-left">
                                @foreach (var tag in article.Tags)
                                {
                                    @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                                }
                            </div>
                            <small class="author pull-right">
                                Author: @Html.ActionLink(article.WrittenBy, "ListByAuthor", "Article", new { @id = article.ArticleId }, null)
                                <br />
                                Article added by: @article.Author.FullName
                            </small>
                        </footer>
                    </article>
                </div>
            }
        }
        else
        {
            foreach (var article in Model)
            {
                if (article.Content.Length > 1000)
                {
                    print = article.Content.Substring(0, 1000);
                    tooLong = true;
                }
                <div class="col-sm-6">
                    <article>
                        <header>
                            <h2>
                                @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.ArticleId }, null)
                            </h2>
                        </header>
                        <p style="text-align: justify">
                            @if (tooLong)
                            {
                                @print <strong>...</strong>
                                @Html.ActionLink("Read more", "Details", "Article", new { @id = article.ArticleId }, null)
                            }
                            else
                            {
                                @article.Content
                            }
                        </p>
                        <footer>
                            <div class="pull-left">
                                @foreach (var tag in article.Tags)
                                {
                                    @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                                }
                            </div>
                            <small class="author pull-right">
                                Author: @Html.ActionLink(article.WrittenBy, "ListByAuthor", "Article", new { @id = article.ArticleId }, null)
                            </small>
                        </footer>
                    </article>
                </div>
            }
        }
    </div>
</div>
<hr />
